<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.watly.co/Vapor"
			class = "co.watly.vapor.VaporPackage"
			genModel = "model/generated/Vapor.genmodel" />
	</extension>
</plugin>
